<h2>Editing <%= @recipe.name %>:</h2>
<p>Ingredients: <%= @recipe.ingredients %></p>
<p>Cooking Time: <%= @recipe.cook_time %></p>
<form method="POST" action="/recipes/<%= @recipe.id %>">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <input type="text" name="name" placeholder="New Name"><br><br>
    <input type="text" name="ingredients" placeholder="New Ingredients"><br><br>
    <input type="text" name="cook_time" placeholder="New Cooking Time"><br><br>
    <input type="submit" value="update">
</form>