<form method="post" action="/recipes/<%= @recipe.id %>">
    <input type="text" name="name" value="<%= @recipe.name %>">
    <input type="text" name="cook_time" value="<%= @recipe.cook_time %>">
    <input type="text" name="ingredients" value="<%= @recipe.ingredients %>">
    <input type="hidden" id="hidden" name="_method" value="patch">
    <input type="submit" value="Submit">
</form><br>