<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <form method="post" action="/recipes">
            <input type="text" name="name">
            <br>
            <input type="textarea" name="ingredients">
            <br>
            <input type="text" name="cook_time">
            <br>
            <input type="submit" id="submit">
        </form>
    </body>
</html>