<!DOCTYPE html>
<html>
    <head>
<h1>Recipe Creator</h1>
    </head>
    <body>
<form action="/recipes" method="post">
Recipe Name: <br>
<input type="text" id="name" name="name"><br>
Ingredients: <br>
<input type="text" id="ingredients" name="ingredients"><br>
Cook Time: <br>
<input type="text" id="cook_time" name="cook_time">
<input type="submit" id="submit" name="submit">
<br><a href="/">Go Home</a>
</form>
    </body>
</html>