<h3>Recipe: <%= @recipe.name %></h3>
<h5>ingredients: <%=  @recipe.ingredients %></h5>
<h5>Cook Time: <%= @recipe.cook_time %> minutes</h5>

<form action="/recipes/<%=@recipe.id%>" method='POST'>
<input id="hidden" type="hidden" name="_method" value="delete">
<input type="submit" value="delete">
</form>